<header id="header">
  <a routerLink="/"><h1 class="yellow-card space">k o k o z a m i</h1></a>
  <nav id="nav-bar" class="flex-row flex-around">
    <a class="nav-link left-line" routerLink="/about" routerLinkActive="active">about</a>
    <a class="nav-link left-line" routerLink="/music" routerLinkActive="active">music</a>
    <a class="nav-link left-line" routerLink="/shows" routerLinkActive="active">shows</a>
    <a class="nav-link left-line" routerLink="/contact" routerLinkActive="active">contact</a>
  </nav>
</header>
<hr>
