<header id="header">
  <a routerLink="/kokozami"><h1 class="yellow-card space">k o k o z a m i</h1></a>
  <nav id="nav-bar" class="flex-row flex-around">
    <a class="nav-link left-line" routerLink="/kokozami/about" routerLinkActive="active-link">about</a>
    <a class="nav-link left-line" routerLink="/kokozami/music" routerLinkActive="active-link">music</a>
    <a class="nav-link left-line" routerLink="/kokozami/shows" routerLinkActive="active-link">shows</a>
    <a class="nav-link left-line" routerLink="/kokozami/contact" routerLinkActive="active-link">contact</a>
  </nav>
</header>
<hr>
